.card-container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  height: 100%;
  padding-left: 10px;
  border-radius: 5px;
}

.left {
  width: 80%;
  justify-content: space-evenly;
}

.right {
  width: 20%;
  align-items: flex-end;
  padding: 10px 10px 0 0;
  font-size: 0.9em;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card > * {
  margin: 0;
}

.card > h3 {
  font-weight: 100;
}