html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  border-radius: 5px;
  padding: 30px;
}

#header {
  width: 100%;
  background-color: slategray;
  text-align: center;
}

#footer {
  width: 100%;
  background-color: slategray;
  text-align: center;
}

#panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 8px;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: 0.8em;
  font-family: arial;
}

.set > * {
  margin-right: 2px;
  padding: 2px;
}

#period-table-container {
  display: grid;
  grid-template-columns: repeat(18, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-gap: 4px;
}

.element {
  height: 100%;
  width: 100%;
  font-size: 0.8em;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
  /* filter: drop-shadow(2px 2px black) */
  /* border-radius: 3px; */
}

.element:hover {
  filter: brightness(60%);
}

.element > * {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

#key {
  grid-column-start: 3;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: repeat(10, 38px);
  grid-template-rows: repeat(3, 38px);
  padding: 20px;
}

#key-left {
  padding: 5px;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#key-left > * {
  margin: 0;
}

#key-left p {
  font-size: 0.8em;
}

#key-right {
  padding-left: 5px;
  grid-column-start: 4;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 4;
}

#key-right > * {
  margin: 0;
  padding-bottom: 5px;
}

#key-right p {
  padding: 0;
  font-size: 0.9em;
  padding-bottom: 5px;
}



.borderElement > * {
  margin: auto;
}